[Unit]
Description=Superdoku
After=syslog.target network.target

[Service]
Type=forking

User=root
Group=root

ExecStart=/opt/superdoku/bin/superdoku.sh start
ExecStop=/opt/superdoku/bin/superdoku.sh stop

[Install]
WantedBy=multi-user.target
